.profile-form {
  width: 400px;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.input-item label {
  font-size: 20px;
}

.input-item input {
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}

.input-item input:focus:not([readonly]) {
  border-color: lightblue;
  box-shadow: 0px 0px 7px rgba(0, 123, 255, 0.4);
}

.input-item input:read-only {
  color: rgb(176, 170, 170);
}

.submit-btn {
  background: rgb(110, 178, 201);
  border: none;
  display: block;
  margin-left: auto;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: all 0.3s !important;
}

.submit-btn:hover {
  background: rgb(70, 165, 196);
}

.submit-btn:active {
  background: rgb(47, 140, 171);
}

.text-denger {
  color: rgb(249, 36, 36);
  font-size: 16px;
  line-height: 16px;
}

.load-icon {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  width: 100px;
}

.msg-box {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
}

.msg-box.success-msg {
  background-color: rgba(43, 184, 43, 0.438);
}

.msg-box.error-msg {
  background-color: rgba(184, 43, 43, 0.438);
}

.msg-box .msg {
  font-size: 20px;
  line-height: 20px;
}

.msg-box .close-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  width: 24px;
  height: 24px;
  padding-top: 1px;
  padding-right: 1px;
}

.msg-box .close-btn:hover {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.153);
  transition: all 0.2s;
}
