<div class="container">
  <form
    (submit)="edit()"
    [formGroup]="form"
    class="profile-form"
    *ngIf="!isProcessing && loaded"
  >
    <div class="input-item">
      <label for="Email">Email </label>
      <input type="text" id="email" formControlName="email" readonly />
    </div>

    <div class="input-item">
      <label for="firstName">First Name </label>
      <input type="text" id="firstName" formControlName="firstName" />
      <app-form-error [form]="form" [name]="'firstName'" />
    </div>

    <div class="input-item">
      <label for="lastName">Last Name </label>
      <input type="text" id="lastName" formControlName="lastName" />
      <app-form-error [form]="form" [name]="'lastName'" />
    </div>

    <button class="submit-btn">Edit</button>
  </form>

  <i class="fa-solid fa-spinner fa-spin load-icon" *ngIf="isProcessing"></i>
</div>
