<div class="container">
  <div class="profile-form">
    <div class="form-fields">
      <div class="input-item">
        <label for="Email">Email </label>
        <input readonly type="text" id="email" [(ngModel)]="details.email" />
      </div>
      <div class="input-item">
        <label for="firstName">First Name </label>
        <input
          required
          type="text"
          id="firstName"
          [(ngModel)]="details.firstName"
        />
      </div>
      <div class="input-item">
        <label for="lastName">Last Name </label>
        <input
          required
          type="text"
          id="lastName"
          [(ngModel)]="details.lastName"
        />
      </div>
    </div>
    <button (click)="edit()" class="edit-button">Edit</button>
  </div>
</div>
