.container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(122, 183, 18);
    margin-bottom: 8px;
    width: fit-content;
}

.absence-id{
  width: 10px;
}

.absence-name,
.absence-type,
.absence-date{
  width: 100px;
}

span {
  margin: 5px;
  color: white;
}