.modal-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-dialog {
  background: rgb(37, 34, 34);
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  height: auto;
  padding: 0px 5px 10px 5px;
  text-align: center;
}

.header-label {
  margin-top: -2px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 10px 5px 10px;
}

.input-item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

label {
  font-size: 14px;
  width: 65px;
  display: inline-block;
  text-align: left;
  color: white;
}

input,
select {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  width: 150px;
  background-color: transparent;
  color: white;
  height: 25px;
}

select option {
  background-color: black;
}

input[type="text"],
input[type="date"] {
  padding: 2px 5px;
}

input:focus,
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.submit-button {
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  color: white;
}

.submit-button:hover {
  border-color: #35c435;
  box-shadow: 0 0 10px rgba(17, 255, 0, 0.4);
}

.submit-button:active {
  border-color: #0d900d;
  box-shadow: 0 0 10px rgba(16, 216, 2, 0.4);
}

.close-button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 1px;
  color: white;
}

.close-button:hover {
  background-color: rgb(241, 9, 9);
}

.close-button:active {
  background-color: rgba(241, 9, 9, 0.5);
  color: white;
}

@media screen and (max-width: 576px) {
  .input-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 5;
  }
}
