<app-modal-form [title]="title()" (closeModal)="closeModal.emit()">
  <form [formGroup]="form" (submit)="submit()">
    <div class="input-item">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
      <app-form-error [form]="form" [name]="'name'" />
    </div>

    <div class="input-item">
      <label for="type">Type</label>
      <select id="type" formControlName="selectedType">
        @for (type of absenceTypeService.types; track $index) {
        <option [ngValue]="type.id">
          {{ type.name }}
        </option>
        }
      </select>
      <app-form-error [form]="form" [name]="'selectedType'" />
    </div>

    <div class="input-item">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" formControlName="startDate" />
      <app-form-error [form]="form" [name]="'startDate'" />
    </div>

    <div class="input-item">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" formControlName="endDate" />
      <app-form-error [form]="form" [name]="'endDate'" />
    </div>

    <button class="submit-btn">Submit</button>
  </form>
</app-modal-form>
