<div class="modal-container" *ngIf="isVisible">
  <div class="modal-dialog">
    <div class="header">
      <p class="header-label">Absence Form</p>
      <button class="close-button" (click)="close()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <hr />
    <div>
      <div class="input-item">
        <label for="name" id="name">Name</label>
        <input type="text" name="name" [(ngModel)]="name" />
      </div>
      <div class="input-item">
        <label for="type" id="type">Type</label>
        <select name="type" [(ngModel)]="selectedType">
          <option name *ngFor="let type of types" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
      <div class="input-item">
        <label for="startDate" id="startDate">Start Date</label>
        <mat-form-field appearance="outline">
          <mat-label class="mat-label-color">Choose a date</mat-label>
          <input class="aaa" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="input-item">
        <label for="endDate" id="endDate">End Date</label>
        <input type="date" name="endDate" [(ngModel)]="endDate" />
      </div>
      <button (click)="submit()" class="submit-button">Submit</button>
    </div>
  </div>
</div>
