.input-item button {
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.input-item .submit-button {
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  color: white;
}

.input-item .submit-button:hover {
  border-color: #35c435;
  box-shadow: 0 0 10px rgba(17, 255, 0, 0.4);
}

.input-item .submit-button:active {
  border-color: #0d900d;
  box-shadow: 0 0 10px rgba(16, 216, 2, 0.4);
}
