.input-item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

label {
  font-size: 14px;
  width: 65px;
  display: inline-block;
  text-align: left;
  color: white;
}

input {
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  width: 150px;
  background-color: transparent;
  color: white;
  height: 25px;
  margin-top: 2px;
  padding-left: 5px;
}

input[type="text"] {
  padding: 2px 5px;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.submit-button {
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  color: white;
  display: block;
}

.submit-button:hover {
  border-color: #35c435;
  box-shadow: 0 0 10px rgba(17, 255, 0, 0.4);
}

.submit-button:active {
  border-color: #0d900d;
  box-shadow: 0 0 10px rgba(16, 216, 2, 0.4);
}

.register-link {
  text-decoration: none;
  color: rgb(31, 31, 248);
  font-size: 12px;
}

.register-link:hover {
  color: rgb(88, 88, 247);
}
