.login-form {
  border-radius: 15px;
  border: 2px rgb(35, 33, 33) solid;
  width: 400px;
  padding: 30px;
  margin: 30px auto;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.login-form h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.input-item label {
  font-size: 20px;
}

.input-item input {
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}

.input-item input:focus {
  border-color: lightblue;
  box-shadow: 0px 0px 7px rgba(0, 123, 255, 0.4);
}

.submit-btn {
  background: rgb(110, 178, 201);
  border: none;
  display: block;
  margin: 0 auto 15px auto;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: all 0.3s !important;
}

.submit-btn:hover {
  background: rgb(70, 165, 196);
}

.submit-btn:active {
  background: rgb(47, 140, 171);
}

.register-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  margin-top: 5px;
  width: 100%;
  display: block;
  text-align: center;
}

.register-link:hover {
  color: rgb(69, 155, 184);
}

.error-msg {
  margin-top: 5px;
  color: rgb(249, 36, 36);
  font-size: 16px;
}
