<div class="modal-container" *ngIf="isVisible">
  <div class="modal-dialog">
    <div class="header">
      <p class="header-label">Filters</p>
      <button class="close-button" (click)="close()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <hr />
    <div>
      <div class="input-item">
        <span>Period:</span>
        <input required type="date" id="startDate" [(ngModel)]="startDate" />
        <span>-</span>
        <input required type="date" id="endDate" [(ngModel)]="endDate" />
      </div>
      <button (click)="submit()" class="submit-button">Submit</button>
    </div>
  </div>
</div>
