.filter-btn {
  background: rgb(60, 153, 184);
}

.filter-btn:hover {
  background: rgb(26, 129, 164);
}

.filter-btn:active {
  background: rgb(21, 103, 130);
}

.grid-row {
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 120px !important;
}
