<div class="container">
  <h1>About Absence.com</h1>
  <div class="gallery" id="lightgallery">
    <div class="item">
      <p>
        Easily start by adding your first organization — and manage multiple
        organizations effortlessly in one place.
      </p>
      <div class="image-container">
        <a class="gallery-item" data-src="assets/organizations-about.png">
          <img src="assets/organizations-about.png" alt="Organizations" />
        </a>
      </div>
    </div>

    <div class="item">
      <p>
        Record and track absences of different types, keeping your organization
        organized and transparent.
      </p>
      <div class="image-container">
        <a class="gallery-item" data-src="assets/absences_about.png">
          <img src="assets/absences_about.png" alt="Absences" />
        </a>
      </div>
    </div>

    <div class="item">
      <p>
        Create and customize holidays for each organization to match your
        company's unique schedule.
      </p>
      <div class="image-container">
        <a class="gallery-item" data-src="assets/holidays_about.png">
          <img src="assets/holidays_about.png" alt="Holidays" />
        </a>
      </div>
    </div>

    <div class="item">
      <p>
        Allow administrators to review and respond to absence requests from
        employees quickly and efficiently.
      </p>
      <div class="image-container">
        <a class="gallery-item" data-src="assets/events_about.png">
          <img src="assets/events_about.png" alt="Events" />
        </a>
      </div>
    </div>

    <div class="item">
      <p>
        Visualize your organization's data through clear and insightful charts
        that show absence trends and statistics.
      </p>
      <div class="image-container">
        <a class="gallery-item" data-src="assets/chart_about.png">
          <img src="assets/chart_about.png" alt="Charts" />
        </a>
      </div>
    </div>
  </div>
</div>
