@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css");

.container {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.item:nth-child(2n) {
  flex-direction: row-reverse;
}

.item img {
  border-radius: 15px;
  max-width: 100%;
}

.item > p {
  font-size: 25px;
  transform: translateX(-100px);
}

.item:nth-child(2n) > p {
  transform: translateX(100px);
}

.item > .image-container {
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 8px black;
  transform: translateX(100px);
}

.item:nth-child(2n) > .image-container {
  transform: translateX(-100px);
}

.item.show > * {
  transition: 2s;
  transform: translateX(0) !important;
}

@media screen and (max-width: 576px) {
  .container {
    gap: 20px;
    margin-bottom: 10px;
  }

  .gallery {
    gap: 25px;
  }

  .item {
    flex-direction: column-reverse !important;
    padding: 10px;
    gap: 10px;
  }

  .item > p {
    font-size: 20px;
  }
}
