.btns {
  display: flex;
  gap: 20px;
  margin: 20px auto 0 auto;
  width: 100px;
}

button {
  width: 40px;
  height: 30px;
  font-size: 24px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.reject-btn {
  background-color: rgb(245, 11, 11);
}

.reject-btn:hover {
  background-color: rgb(177, 0, 0);
}

.accept-btn {
  background-color: rgb(16, 180, 14);
}

.accept-btn:hover {
  background-color: rgb(3, 151, 0);
}
