.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.member {
  width: 350px;
}

.owner {
  font-size: 12px;
  color: gray;
}

.list-box {
  min-height: 200px;
  max-height: 300px;
  overflow-y: auto;
  width: 350px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 20px 5px 5px 5px;
  max-width: 1200px;
  margin: 10px auto;
  justify-content: space-between;
}

.empty-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.first-org-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 2px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(45, 163, 27);
  border: 0px;
  transition: all 0.2s ease;
}

.first-org-btn:hover {
  background-color: rgb(57, 208, 34);
}

.item {
  cursor: pointer;
  border-bottom: 1px solid rgb(119, 117, 117);
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  background-color: #ccccccb0;
}

.active-item {
  border-bottom: 1px solid rgb(33, 147, 204);
}

.add-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 2px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(37, 37, 36);
  border: 0.5px solid #fff;
  transition: all 0.2s ease;
}

.add-btn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(65, 184, 29, 0.9);
  color: #5cf03f !important;
}

.access-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(37, 37, 36);
  border: 0.5px solid #fff;
  transition: all 0.2s ease;
}

.access-btn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(65, 184, 29, 0.9);
}

.del-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(235, 12, 12);
  border: 0px;
  transition: all 0.2s ease;
}

.del-btn:hover {
  background-color: rgb(174, 11, 11);
}
