<div
  class="empty-container"
  *ngIf="organizations && organizations.length === 0"
>
  <h2>You have no organizations yet. Add your first organization!</h2>
  <button class="first-org-btn" (click)="openForm()">
    <i class="fa-solid fa-plus"></i> Add
  </button>
</div>

<div class="container" *ngIf="organizations">
  <div class="list-block" *ngIf="organizations.length > 0">
    <div class="header">
      <h1 class="label">Your organizations</h1>
      <button class="add-btn" (click)="openForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <ul class="list-box">
      <li
        *ngFor="let organization of organizations"
        class="item"
        (click)="selectOrganization(organization)"
        [class.active-item]="selectedOrganization === organization"
      >
        {{ organization.name }}
      </li>
    </ul>
  </div>

  <hr *ngIf="members" />

  <div class="organization-block" *ngIf="members">
    <h1>{{ selectedOrganization!.name }}</h1>
    <div class="org-details">
      <button class="invite-btn" (click)="openInviteForm()">Invite user</button>
      <button class="edit-btn" (click)="openForm()">Edit</button>
      <button class="del-btn" (click)="delete()">Delete</button>
    </div>
    <div class="list-block">
      <div class="header">
        <h2 class="label">Members</h2>
      </div>
      <ul class="list-box">
        <li
          *ngFor="let member of members"
          class="item"
          (click)="selectMember(member)"
          [class.active-item]="selectedMember === member"
        >
          {{ member.fullName }}
          <span *ngIf="member.isOwner" class="owner">owner</span>
        </li>
      </ul>
    </div>
  </div>

  <hr *ngIf="selectedMember" />

  <div class="member" *ngIf="selectedMember">
    <h1 class="label">{{ selectedMember.fullName }}</h1>
    <div class="member-details">
      <button
        *ngIf="!selectedMember.isAdmin"
        class="access-btn"
        (click)="changeAccess()"
      >
        Change access
      </button>
      <button class="del-btn" (click)="deleteUser()">Delete user</button>
    </div>
  </div>
</div>

<app-organization-form
  (closeModal)="closeForm()"
  (submitModal)="add($event)"
  [isVisible]="isFormOpened"
/>

<app-invite-form
  (closeModal)="closeInviteForm()"
  (submitModal)="sendInvitation($event)"
  [isVisible]="isInviteFormOpened"
/>
