<div class="container">
  <div class="list-block">
    <div class="header">
      <h1 class="label">Your organizations</h1>
      <button class="add-btn" (click)="openForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <ul class="list-box">
      <li
        *ngFor="let organization of organizations"
        class="item"
        (click)="selectOrganization(organization)"
        [class.active-item]="selectedOrganization === organization"
      >
        {{ organization.name }}
      </li>
    </ul>
  </div>

  <hr *ngIf="selectedOrganization" />

  <div class="list-block" *ngIf="selectedOrganization">
    <div class="header">
      <h1 class="label">{{ selectedOrganization.name }} members</h1>
      <button class="add-btn" (click)="openInviteForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <ul class="list-box">
      <li
        *ngFor="let member of members"
        class="item"
        (click)="selectMember(member)"
        [class.active-item]="selectedMember === member"
      >
        {{ member.fullName }}
      </li>
    </ul>
  </div>

  <div class="member">
    <h1 *ngIf="selectedMember" class="label">{{ selectedMember.fullName }}</h1>
    <div class="member-details">
      <button
        *ngIf="!selectedMember?.isAdmin"
        class="access-btn"
        (click)="giveAccess()"
      >
        Give Admin access
      </button>
    </div>
  </div>
</div>

<app-organization-form
  (closeModal)="closeForm()"
  (submitModal)="add($event)"
  [isVisible]="isFormOpened"
/>

<app-invite-form
  (closeModal)="closeInviteForm()"
  (submitModal)="sendInvitation($event)"
  [isVisible]="isInviteFormOpened"
/>
