<div class="container">
  <form
    [formGroup]="form"
    (submit)="submit()"
    class="change-password-form"
    *ngIf="!isProcessing"
  >
    <h2 class="header">Password</h2>

    <div class="input-item">
      <label for="oldPassword">Old Password </label>
      <input type="password" id="oldPassword" formControlName="oldPassword" />
      <app-form-error [form]="form" [name]="'oldPassword'" />
    </div>

    <div class="input-item">
      <label for="newPassword">New Password </label>
      <input type="password" id="newPassword" formControlName="newPassword" />
      <app-form-error [form]="form" [name]="'newPassword'" />
    </div>

    <button class="submit-btn">Submit</button>
  </form>

  <div class="management" *ngIf="!isProcessing">
    <h2 class="header">Management</h2>

    <div class="buttons">
      <button (click)="logout()" class="logout-btn">Sign Out</button>
      <button (click)="confirmationOpened = true" class="delete-btn">
        Delete Profile
      </button>
    </div>
  </div>

  <i class="fa-solid fa-spinner fa-spin load-icon" *ngIf="isProcessing"></i>
</div>

<app-password-confirmation
  [isVisible]="confirmationOpened"
  (closed)="confirmationOpened = false"
  (submitted)="confirmationSubmitted($event)"
/>
