.container {
  width: 100%;
  max-width: 400px;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.input-item label {
  font-size: 20px;
}

.input-item input {
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
  color: white;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}

.input-item input:focus:not([readonly]) {
  border-color: lightblue;
  box-shadow: 0px 0px 7px rgba(0, 123, 255, 0.4);
}

.input-item input:read-only {
  color: rgb(176, 170, 170);
}

button {
  border: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: all 0.3s !important;
}

.submit-btn {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  background: rgb(110, 178, 201);
}

.submit-btn:hover {
  background: rgb(70, 165, 196);
}

.submit-btn:active {
  background: rgb(47, 140, 171);
}

.buttons {
  display: flex;
  gap: 10px;
}

.logout-btn {
  background: rgb(170, 188, 68);
}

.logout-btn:hover {
  background: rgb(194, 204, 49);
}

.logout-btn:active {
  background: rgb(163, 163, 40);
}

.delete-btn {
  background: rgb(187, 75, 75);
}

.delete-btn:hover {
  background: rgb(184, 50, 50);
}

.delete-btn:active {
  background: rgb(156, 28, 28);
}

.management {
  margin-top: 20px;
}

.header {
  margin-bottom: 30px;
  font-size: 28px;
}

.text-denger {
  color: rgb(249, 36, 36);
  font-size: 16px;
  line-height: 16px;
}

.load-icon {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  width: 100px;
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
    padding: 20px 10px;
  }
}
