<div class="container">
  @if (events().length === 0) {
  <h3>No events!</h3>
  }@else {
  <div class="table-form">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Event Type</th>
          <th>Absence Type</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Accept/Reject</th>
        </tr>
      </thead>
      <tbody>
        @for (event of events(); track $index) {
        <tr class="item">
          <td>{{ event.num }}</td>
          <td>{{ event.user }}</td>
          <td>{{ event.type }}</td>
          <td>{{ event.absenceType }}</td>
          <td>{{ event.name }}</td>
          <td>{{ event.startDate | date : "dd.MM.yyyy" }}</td>
          <td>{{ event.endDate | date : "dd.MM.yyyy" }}</td>
          <td>
            <div class="btns">
              <button class="accept-btn" (click)="respond(event.id, true)">
                <i class="fa-solid fa-check"></i>
              </button>
              <button class="reject-btn" (click)="respond(event.id, false)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
