.container {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 50px;
  align-items: center;
}

button {
  font-size: 20px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: white;
}

button:hover {
  background-color: rgba(114, 114, 114, 0.7);
}

button:active {
  background-color: rgba(114, 114, 114, 0.7);
}

.body {
  max-height: 500px;
  overflow-y: auto;
  transition: 0.5s;
}

.wrapped {
  max-height: 0;
}
