<div class="container">
  <div class="btns">
    <button class="add-btn" (click)="openForm()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="grid-list">
    <span class="item absence-num item-start header">#</span>
    <span class="item absence-name header">Name</span>
    <span class="item absence-type header">Type</span>
    <span class="item absence-date header">Start Date</span>
    <span class="item absence-date item-end header">End Date</span>
    @for (absence of absences; track absence) {
    <span class="item absence-num item-start">{{ absence.id }}</span>
    <span class="item absence-name">{{ absence.name }}</span>
    <span class="item absence-type">{{ absence.type }}</span>
    <span class="item absence-date">{{
      absence.startDate | date : "d MMMM, y"
    }}</span>
    <span class="item absence-date item-end">{{
      absence.endDate | date : "d MMMM, y"
    }}</span>
    }
  </div>
</div>

<app-absence-form
  (closeModal)="closeForm()"
  (submitModal)="submitForm($event)"
  [isVisible]="isFormOpened"
/>
