<div class="container">
  <div class="manage-panel">
    <p
      class="msg"
      [ngClass]="{
        'msg-success': isSuccess && message,
        'msg-error': !isSuccess && message
      }"
    >
      {{ message }}
    </p>
    <div class="btns">
      <button class="filter-btn" (click)="showFilters()">
        <i class="fa-solid fa-filter"></i>
      </button>
      <button class="add-btn" (click)="openForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="grid-list">
    <span class="header item item-start">#</span>
    <span class="header item">Name</span>
    <span class="header item">Type</span>
    <span class="header item">Start Date</span>
    <span class="header item">End Date</span>
    <span class="header item item-end">Actions</span>
    @for (absence of absences; track absence) {
    <span class="item item-start">{{ absence.num }}</span>
    <span class="item">{{ absence.name }}</span>
    <span class="item">{{ absence.type.name }}</span>
    <span class="item">{{ absence.startDate | date : "d MMMM, y" }}</span>
    <span class="item">{{ absence.endDate | date : "d MMMM, y" }}</span>
    <span class="item item-end">
      <div class="action-buttons">
        <button class="delete-button" (click)="delete(absence.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button class="edit-button" (click)="openForm(absence)">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
    </span>
    }
  </div>
</div>

<app-absence-form
  (closeModal)="closeForm()"
  (submitCreate)="create($event)"
  (submitEdit)="edit($event)"
  [isVisible]="isFormOpened"
  [absence]="selectedAbsence"
/>

<app-absence-filters
  (closeModal)="closeFilters()"
  (submitModal)="applyFilters($event)"
  [isVisible]="filtersOpened"
/>
