.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.buttons{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 800px;
    margin-bottom: 8px;
}

.item,
.header{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px; 
    width: 800px;
    gap: 50px;
}

.header{
    background-color: rgb(161, 211, 75);
}

.item{
    background-color: rgb(193, 224, 138);
}

.absence-id{
    width: 10px;
}

.absence-name,
.absence-type,
.absence-date{
    width: 120px;
}

span {
    margin: 5px;
    color: white;
}

.add-button{
    background-color: #007bff;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.add-button:hover{
    background-color: #4e90d6;
}