<div class="container" *ngIf="organization">
  <div class="manage-panel" *ngIf="!isProcessing && organization.isAdmin">
    <div
      class="msg-box"
      [ngClass]="{
        'success-msg': isSuccess && message,
        'error-msg': !isSuccess && message
      }"
    >
      <span class="msg">{{ message }}</span>
      <button *ngIf="message" (click)="closeMessage()" class="close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="btns">
      <button class="add-btn" (click)="openForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>

  <div
    class="grid-list"
    *ngIf="!isProcessing"
    [class.admin-grid]="organization.isAdmin"
  >
    <span class="header item item-start">#</span>
    <span class="header item">Name</span>
    <span class="header item">Date</span>
    <span *ngIf="organization.isAdmin" class="header item item-end"
      >Actions</span
    >
    @for (holiday of holidays; track holiday) {
    <span class="item item-start">{{ holiday.num }}</span>
    <span class="item">{{ holiday.name }}</span>
    <span class="item" [class.item-end]="!organization.isAdmin">{{
      holiday.date | date : "dd.MM.yyyy"
    }}</span>
    <span class="item item-end" *ngIf="organization.isAdmin">
      <div class="action-buttons">
        <button class="delete-btn" (click)="delete(holiday.id)">
          <i class="fa-solid fa-trash"></i>
        </button>

        <button class="edit-btn" (click)="openForm(holiday)">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
    </span>
    }
  </div>

  <i class="fa-solid fa-spinner fa-spin load-icon" *ngIf="isProcessing"></i>
</div>

<app-holiday-form
  (closeModal)="closeForm()"
  (submitCreate)="create($event)"
  (submitEdit)="edit($event)"
  [isVisible]="isFormOpened"
  [holiday]="selectedHoliday"
/>
