<div class="container" *ngIf="organization">
  <div class="manage-panel" *ngIf="!isProcessing && organization.isAdmin">
    <div
      class="msg-box"
      [ngClass]="{
        'success-msg': isSuccess && message,
        'error-msg': !isSuccess && message
      }"
    >
      <span class="msg">{{ message }}</span>
      <button *ngIf="message" (click)="closeMessage()" class="close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="btns">
      <button class="add-btn" (click)="openForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="grid-list" *ngIf="!isProcessing">
    <div class="grid-header grid-row" [class.admin-grid]="organization.isAdmin">
      <span>#</span>
      <span>Name</span>
      <span>Date</span>
      <span *ngIf="organization.isAdmin">Actions</span>
    </div>
    <div
      [class.admin-grid]="organization.isAdmin"
      class="grid-row grid-item-row"
      *ngFor="let holiday of holidays"
    >
      <span data-label="#">{{ holiday.num }}</span>
      <span data-label="Name">{{ holiday.name }}</span>
      <span data-label="Date">{{ holiday.date | date : "dd.MM.yyyy" }}</span>
      <span *ngIf="organization.isAdmin" data-label="Actions">
        <div class="action-buttons">
          <button class="delete-btn" (click)="delete(holiday.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
          <button class="edit-btn" (click)="openForm(holiday)">
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </span>
    </div>
  </div>
  <i class="fa-solid fa-spinner fa-spin load-icon" *ngIf="isProcessing"></i>
</div>

<app-holiday-form
  (closeModal)="closeForm()"
  (submitCreate)="create($event)"
  (submitEdit)="edit($event)"
  [isVisible]="isFormOpened"
  [holiday]="selectedHoliday"
/>
