<div class="container">
  @if (!isProcessing() && organizationService.selectedOrganization()!.isAdmin) {
  <div class="manage-panel">
    <div
      class="msg-box"
      [ngClass]="{
        'success-msg': isSuccess() && message(),
        'error-msg': !isSuccess() && message()
      }"
    >
      <span class="msg">{{ message() }}</span>
      @if (message()) {
      <button class="close-btn" (click)="message.set(null)">
        <i class="fa-solid fa-xmark"></i>
      </button>
      }
    </div>

    <div class="btns">
      <button class="filter-btn" (click)="filtersOpened.set(true)">
        <i class="fa-solid fa-filter"></i>
      </button>
      <button class="add-btn" (click)="openForm()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
  } @else if (!isProcessing()) {
  <div class="grid-list">
    <div
      class="grid-header grid-row"
      [class.admin-grid]="organizationService.selectedOrganization()!.isAdmin"
    >
      <span>#</span>
      <span>Name</span>
      <span>Date</span>
      @if (organizationService.selectedOrganization()!.isAdmin) {
      <span>Actions</span>
      }
    </div>
    @for (holiday of holidays(); track $index) {
    <div
      [class.admin-grid]="organizationService.selectedOrganization()!.isAdmin"
      class="grid-row grid-item-row"
    >
      <span data-label="#">{{ holiday.num }}</span>
      <span data-label="Name">{{ holiday.name }}</span>
      <span data-label="Date">{{ holiday.date | date : "dd.MM.yyyy" }}</span>
      @if (organizationService.selectedOrganization()!.isAdmin) {
      <span data-label="Actions">
        <div class="action-buttons">
          <button class="delete-btn" (click)="delete(holiday.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
          <button class="edit-btn" (click)="openForm(holiday)">
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
      </span>
      }
    </div>
    }
  </div>
  }@else {
  <i class="fa-solid fa-spinner fa-spin load-icon"></i>
  }
</div>
@if(isFormOpened()){
<app-holiday-form
  (closeModal)="isFormOpened.set(false)"
  (submitCreate)="create($event)"
  (submitEdit)="edit($event)"
  [holiday]="selectedHoliday()"
/>
} @if(filtersOpened()) {
<app-holiday-filters
  (closeModal)="filtersOpened.set(false)"
  (submitModal)="applyFilters($event)"
/>
}
