.nav-bar {
  width: 100%;
  position: fixed;
  background-color: rgb(38, 44, 44);
  height: 60px;
}

img {
  margin: 25px 0 0 0;
  height: 120px;
}

.container {
  height: 100%;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
