<nav class="nav-bar" [class.mobile-nav-bar]="isMenuOpen">
  <div class="container main-nav centralized">
    <div class="logo">
      <a href="#">
        <img src="assets/logo.png" alt="Absence.com" />
      </a>
    </div>

    <div class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="menu-container" [class.mobile-menu]="isMenuOpen">
      <a (click)="closeMenu()" routerLink="/">Home</a>
      <a (click)="closeMenu()" *ngIf="!isLoggedIn" routerLink="/about">About</a>
      <a
        (click)="closeMenu()"
        *ngIf="organization && organization.isAdmin"
        routerLink="/admin"
        >Admin</a
      >
      <a (click)="closeMenu()" *ngIf="isLoggedIn" routerLink="/organizations"
        >Organizations
      </a>
      <a (click)="closeMenu()" *ngIf="organization" routerLink="/holidays"
        >Holidays</a
      >
      <a (click)="closeMenu()" *ngIf="organization" routerLink="/absences"
        >Absences</a
      >
      <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
        <a (click)="closeMenu()" routerLink="/login">Login</a>
      </ng-container>
      <ng-template #loggedInTemplate>
        <a (click)="closeMenu()" routerLink="/profile">My Profile</a>
      </ng-template>
    </div>
  </div>

  <div class="sub-nav">
    <div class="container centralized sub-nav-info">
      <p *ngIf="organization">Organization: {{ organization.name }}</p>
    </div>
  </div>
</nav>
