.nav-bar {
  width: 100%;
  position: fixed;
  background-color: rgb(45, 45, 45);
  height: 90px;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
}

.main-nav {
  justify-content: space-between;
  height: 60px;
}

.sub-nav {
  background: var(--main-color-2);
  height: 30px;
}

.sub-nav-info {
  justify-content: center;
}

.sub-nav-info p {
  color: #000;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.logo {
  width: 120px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  height: 100%;
  width: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 35%;
}

.menu-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-container a {
  text-decoration: none;
  color: white;
  height: 100%;
  align-content: center;
  border: 1px solid rgb(72, 68, 68);
  border-top: 0;
  border-bottom: 0;
  padding: 0px 20px;
  font-size: 18px;
}

.menu-container a:hover {
  background-color: rgba(64, 68, 71, 0.543);
  transition: background-color 0.3s;
}

.menu-container a.active {
  background: rgb(173, 216, 230);
  transition: background-color 1s;
  color: #000;
}

.mobile-nav-bar {
  position: static;
}

.mobile-menu {
  display: flex !important;
}

.menu-toggle {
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.menu-toggle:hover {
  background-color: rgba(64, 68, 71, 0.543);
}

@media screen and (min-width: 768px) {
  .menu-container {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    height: 100px;
  }

  .menu-toggle {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .menu-container {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0;
    left: 0;
    background-color: rgb(38, 44, 44);
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
    z-index: 1000;
  }

  .menu-container a {
    width: 100%;
    border: 0;
    text-align: center;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgb(72, 68, 68);
  }

  .main-nav {
    height: 70px;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    object-position: 50% 32%;
  }
}
