<nav class="nav-bar" [class.mobile-nav-bar]="isMenuOpen">
  <div class="container nav-bar-flex">
    <div class="logo-container">
      <a href="#" class="logo-link">
        <img src="assets/logo.png" alt="Absence.com" class="logo" />
      </a>
    </div>

    <div class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="menu-container" [class.mobile-menu]="isMenuOpen">
      <a (click)="closeMenu()" routerLink="/" class="link home-link">Home</a>
      <a
        (click)="closeMenu()"
        *ngIf="!isLoggedIn"
        routerLink="/about"
        class="link about-link"
        >About</a
      >
      <a
        (click)="closeMenu()"
        *ngIf="isLoggedIn"
        routerLink="/organizations"
        class="link organizations-link"
        >Organizations
      </a>
      <a
        (click)="closeMenu()"
        *ngIf="organization"
        routerLink="/holidays"
        class="link holidays-link"
        >Holidays</a
      >
      <a
        (click)="closeMenu()"
        *ngIf="organization"
        routerLink="/absences"
        class="link absences-link"
        >Absences</a
      >
      <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
        <a (click)="closeMenu()" routerLink="/login" class="link login-link"
          >Login</a
        >
      </ng-container>
      <ng-template #loggedInTemplate>
        <a (click)="closeMenu()" routerLink="/profile" class="link profile-link"
          >My Profile</a
        >
      </ng-template>
    </div>
  </div>
  <div class="sub-nav">
    <div class="container">
      <p class="organization" *ngIf="organization">
        Organization: {{ organization.name }}
      </p>
    </div>
  </div>
</nav>
