<div class="container">
  <div class="bar-chart-container">
    <div class="filters">
      <mat-form-field appearance="outline">
        <mat-select
          [panelClass]="'mat-select-panel'"
          class="select"
          multiple
          [value]="selectedMembersIds()"
          (valueChange)="selectedMembersIds.set($event)"
          (closed)="loadData()"
        >
          @for (member of allMembers(); track $index) {
          <mat-option class="option" [value]="member.id">
            {{ member.fullName }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select
          [panelClass]="'mat-select-panel'"
          class="select"
          [value]="selectedYear()"
          (valueChange)="selectedYear.set($event)"
          (closed)="loadData()"
        >
          @for (year of years(); track $index) {
          <mat-option class="option" [value]="year">
            {{ year }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <canvas class="barChart" id="canvas"></canvas>
  </div>
</div>
