<div class="container">
  <div class="bar-chart-container">
    <div class="filters">
      <mat-form-field appearance="outline">
        <mat-select
          [panelClass]="'mat-select-panel'"
          class="select"
          multiple
          [(value)]="selectedMembersIds"
          (closed)="loadData()"
        >
          <mat-option
            class="option"
            *ngFor="let member of allMembers"
            [value]="member.id"
          >
            {{ member.fullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select
          [panelClass]="'mat-select-panel'"
          class="select"
          [(value)]="selectedYear"
          (closed)="loadData()"
        >
          <mat-option class="option" *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <canvas class="barChart" id="canvas"></canvas>
  </div>
</div>
