.filters {
  display: flex;
  gap: 10px;
}

::ng-deep .mat-select-panel {
  background-color: black !important;
}

.select {
  color: white !important;
}

.option {
  color: white !important;
}

.option:hover {
  background-color: blue !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected {
  color: white !important;
}
