.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container h1 {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 700;
}

.body {
  display: flex;
  gap: 30px;
}

.tabs {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

li button {
  padding-left: 5px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  width: 110px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: start;
}

li button:hover {
  font-size: 24px;
  font-weight: bold;
}

li button:active {
  font-size: 15px;
}

.active {
  border-left: 1px solid white !important;
  font-size: 24px !important;
  font-weight: bold !important;
  text-shadow: 5px 5px 5px black !important;
}

.msg-box {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
}

.msg-box.success-msg {
  background-color: rgba(43, 184, 43, 0.438);
}

.msg-box.error-msg {
  background-color: rgba(184, 43, 43, 0.438);
}

.msg-box .msg {
  font-size: 20px;
  line-height: 20px;
}

.msg-box .close-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  width: 24px;
  height: 24px;
  padding-top: 1px;
  padding-right: 1px;
}

.msg-box .close-btn:hover {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.153);
  transition: all 0.2s;
}

.tab {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .body hr,
  .tabs {
    display: none;
  }
}
