<div class="container">
  <h1>My Profile</h1>
  <div class="body">
    <ul class="tabs">
      <li>
        <button
          (click)="switchTab('general')"
          [class.active]="activeTab() === 'general'"
        >
          General
        </button>
      </li>
      <li>
        <button
          (click)="switchTab('security')"
          [class.active]="activeTab() === 'security'"
        >
          Security
        </button>
      </li>
      <li>
        <button
          (click)="switchTab('invitations')"
          [class.active]="activeTab() === 'invitations'"
        >
          Invitations
        </button>
      </li>
    </ul>
    <hr />
    <div class="tab">
      @if (message()) {
      <div
        [ngClass]="{ 'success-msg':message()!.isSuccess, 'error-msg':!message()!.isSuccess, }"
        class="msg-box"
      >
        <span class="msg">{{ message()!.text }}</span>
        <button (click)="message.set(null)" class="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      } @if (activeTab() === 'general') {
      <app-user-general-tab (displayMessage)="displayMessage($event)" />
      }@else if (activeTab() === 'security') {
      <app-user-security-tab (displayMessage)="displayMessage($event)" />
      }@else if (activeTab() === 'invitations') {
      <app-user-invitations-tab (displayMessage)="displayMessage($event)" />
      }
    </div>
  </div>
</div>
