<div class="container">
  <div class="header">
    <h1>My Profile</h1>
  </div>
  <div class="body">
    <ul class="tabs">
      <li>
        <button
          (click)="activeTab = 'general'"
          [class.active]="activeTab === 'general'"
        >
          General
        </button>
      </li>
      <li>
        <button
          (click)="activeTab = 'security'"
          [class.active]="activeTab === 'security'"
        >
          Security
        </button>
      </li>
    </ul>
    <hr />
    <div class="tab">
      <app-user-general-tab *ngIf="activeTab === 'general'" />
      <app-user-security-tab *ngIf="activeTab === 'security'" />
    </div>
  </div>
</div>
