<app-modal-form [title]="title()" (closeModal)="closeModal.emit()">
  <form [formGroup]="form" (submit)="submit()">
    <div class="input-item">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
      <app-form-error [form]="form" [name]="'name'" />
    </div>
    <div class="input-item">
      <label for="date">Date</label>
      <input type="date" id="date" formControlName="date" />
      <app-form-error [form]="form" [name]="'date'" />
    </div>
    <button class="submit-btn">Submit</button>
  </form>
</app-modal-form>
