<div class="container" *ngIf="isVisible">
  <div class="modal-dialog">
    <div class="header">
      <h2 class="header-label">Confirm password</h2>
      <button class="close-btn" (click)="close()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <hr />
    <form [formGroup]="form" (submit)="submit()" class="confirmation-form">
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        formControlName="password"
      />
      <div *ngIf="passwordIsInvalid">
        <p class="text-denger" *ngFor="let error of getErrors('password')">
          *{{ getErrorMessage(error.key, error.value) }}
        </p>
      </div>
      <button class="submit-btn">Submit</button>
    </form>
  </div>
</div>
