* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #2e2e2e;
  color: #fff;
  line-height: 1.6;
}

main {
  padding-top: 100px;
  height: 100%;
}

.centralized {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

:root {
  --main-color-2: linear-gradient(
    to bottom,
    rgb(173, 216, 230),
    rgb(135, 206, 250)
  );
}

.modal-dialog .input-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 15px 15px 20px;
  align-items: start;
}

.modal-dialog label {
  font-size: 22px;
  display: inline-block;
  text-align: left;
  color: white;
  margin-bottom: 5px;
}

.modal-dialog input,
.modal-dialog select {
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  width: 100%;
  min-width: 350px;
  background-color: transparent;
  color: white;
  height: 34px;
  padding: 5px;
  font-size: 20px;
}

.modal-dialog select option {
  background-color: black;
}

.modal-dialog input[type="text"] {
  padding: 2px 5px;
}

.modal-dialog input[type="date"] {
  color-scheme: dark;
}

.modal-dialog input:focus,
.modal-dialog select:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.modal-dialog input:focus:not([readonly]) {
  border-color: lightblue;
  box-shadow: 0px 0px 7px rgba(0, 123, 255, 0.4);
}

.modal-dialog input:read-only {
  color: rgb(176, 170, 170);
}

.modal-dialog .submit-btn {
  border: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s !important;
  border-radius: 5px;
  display: block;
  background: rgb(110, 178, 201);
  padding: 5px 30px;
  font-size: 20px;
  margin: 20px auto 0 auto;
}

.modal-dialog .submit-btn:hover {
  background: rgb(70, 165, 196);
}

.modal-dialog .submit-btn:active {
  background: rgb(47, 140, 171);
}
