* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: rgb(56, 56, 55);
  color: #fff;
  line-height: 1.6;
}

main {
  padding-top: 60px;
}
