button {
  width: 40px;
  height: 30px;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}

.reject-btn {
  background-color: rgb(245, 11, 11);
}

.reject-btn:hover {
  background-color: rgb(177, 0, 0);
}

.accept-btn {
  background-color: rgb(16, 180, 14);
}

.accept-btn:hover {
  background-color: rgb(37, 182, 54);
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: auto;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 0px;
}
