button {
  width: 40px;
  height: 30px;
  font-size: 24px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.reject-btn {
  background-color: rgb(245, 11, 11);
}

.reject-btn:hover {
  background-color: rgb(177, 0, 0);
}

.accept-btn {
  background-color: rgb(16, 180, 14);
}

.accept-btn:hover {
  background-color: rgb(3, 151, 0);
}

.btns {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: auto;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 0px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 20px 10px;
    overflow-y: auto;
  }
}
