@if (invitations()) {
<div class="container">
  @if (invitations()!.length === 0) {
  <h3>You have no invitations!</h3>
  }@else {
  <table class="table-form">
    <thead>
      <tr>
        <th>#</th>
        <th>Inviter</th>
        <th>Organization</th>
        <th>Accept/Reject</th>
      </tr>
    </thead>
    <tbody>
      @for (invitation of invitations(); track $index) {
      <tr class="item">
        <td>{{ invitation.num }}</td>
        <td>{{ invitation.inviter }}</td>
        <td>{{ invitation.organization }}</td>
        <td>
          <div class="btns">
            <button class="accept-btn" (click)="send(invitation.id, true)">
              <i class="fa-solid fa-check"></i>
            </button>
            <button class="reject-btn" (click)="send(invitation.id, false)">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
}
