<div class="container">
  <h1 class="welcome-header hidden">
    Welcome to the Absence.com <br />
    Easily manage employee <span>absences</span> across your organization
  </h1>
  <h2 class="short-description hidden">
    A user-friendly interface for managing absences and tracking employee
    availability in a convenient way.
  </h2>
  <div class="btns">
    <button class="signup-btn hidden">Sign Up</button>
  </div>
  <div class="full-description">
    <ul class="points">
      <li>First point</li>
      <li>Second point</li>
      <li>Third point</li>
    </ul>
    <div class="img-wrapper">
      <img src="assets/Photo.png" alt="Photo" class="image" />
    </div>
  </div>
</div>
