.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}

.link {
  text-decoration: none;
  color: black;
  border: none;
  transition: all 0.3s !important;
  border-radius: 5px;
  background: rgb(110, 178, 201);
  padding: 5px 20px;
  font-size: 20px;
  height: 44px;
  text-align: center;
}

.link:hover {
  background: rgb(70, 165, 196);
}

.link:hover:active {
  background: rgb(47, 140, 171);
}

.btns a.active {
  background: rgb(47, 140, 171);
  transition: background-color 1s;
  color: #000;
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .btns {
    flex-direction: row;
  }
}
